:root {
    --lcx-p: hsl(var(--p, 209, 100%, 79%));
}

.btn[data-toggled="true"] {
    border: var(--lcx-p) solid 0.1rem !important;
}

.lcx-link {
    width: fit-content;
    color: var(--lcx-p)
}

.lcx-link:hover {
    text-decoration: underline var(--lcx-p);
}


.lcx-foucsBg-light:focus {
    color: #3b97fc;
}

.lcx-foucsBg:focus {
    color: #95ccff;
}