:root {
    --lcx-behind-size: 1rem;
    --lcx-behind-pos: -.6rem;
    --lcx-behind-bg: rgb(31, 31, 31);
}

#lcx-behind {
    user-select: none;
    position: absolute;
    color: hsl(var(--bc)/.75);
    font-size: .875rem;

    /*fallback*/
    top: 35%;
    right: .5rem;
}

#lcx-behind>img {
    height: 1.6rem;
    width: 1.6rem;
}

#lcx-behind>div {
    position: absolute;
    top: var(--lcx-behind-pos);
    left: var(--lcx-behind-pos);

    background-color: #ff824a;

    min-width: 1rem;
    height: var(--lcx-behind-size);

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#lcx-behind>div>span {
    direction: rtl;
    padding: .1rem;
}

.grow>*:not(:first-child) {
    /*buttons next to filters*/
    margin: 0;
    margin-left: 1rem;
}

#lcx-updatedTime {
    font-size: small;
    color: #bbbbbb;
    font-style: italic;
}